In [1]:
import numpy as np
import pandas as pd

In [2]:
train_fn = '../out/oxford_comma/head_train_nocommas_scored.csv'

In [3]:
train_df = pd.read_csv(train_fn, names=['line', 'prefix_tok_len', 'contains', 'probability'])
train_df.head()

   line  prefix_tok_len  contains  probability
0    14             140      True     0.183690
1    35              86     False     0.336333
2    44             219     False     0.852849
3    51             312      True     0.659531
4    54             282      True     0.331975

In [4]:
train_df['norm_prob'] = train_df.apply(lambda x: x['probability'] if x['contains'] else 1 - x['probability'], axis=1)

In [11]:
train_df['bin'] = pd.qcut(train_df['prefix_tok_len'], 7)
train_df.groupby('bin').count()

                  line  prefix_tok_len  contains  probability  norm_prob
bin
(4.999, 105.0]     303             303       303          303        303
(105.0, 194.429]   299             299       299          299        299
(194.429, 216.0]   305             305       305          305        305
(216.0, 231.0]     301             301       301          301        301
(231.0, 246.0]     297             297       297          297        297
(246.0, 272.0]     306             306       306          306        306
(272.0, 2048.0]    295             295       295          295        295

In [12]:
train_df.groupby('bin').mean()

,line,prefix_tok_len,contains,probability,norm_prob
bin,,,,,
"(4.999, 105.0]",9889.006601,59.396040,0.405941,0.535673,0.578952
"(105.0, 194.429]",9712.642140,154.270903,0.408027,0.500594,0.570663
"(194.429, 216.0]",10113.983607,206.665574,0.390164,0.470089,0.589672
"(216.0, 231.0]",9662.405316,224.063123,0.415282,0.494675,0.570910
"(231.0, 246.0]",10075.407407,238.905724,0.468013,0.503549,0.590151
"(246.0, 272.0]",10351.996732,257.598039,0.395425,0.457129,0.593104
"(272.0, 2048.0]",9731.416949,350.406780,0.488136,0.508842,0.609939